body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    display:flex;
   /*height:100vh;*/
   font-family: 'Roboto', sans-serif;
    
}
.sidebar{
   background:rgb(0,0,0,0.8) url('images/sidebar-1.jpg');
    background-blend-mode: darken;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
   /* width:350px;*/
   /*height:100vh;*/
   position: fixed;
   top:0;
   left:0;
   overflow-y: scroll;
  
  
    
   
}
.container{
    width:100%;
    background-color: #F3F3F3;
    /*height:100vh;*/
    margin-left:232px;
}
.titleimg1 img{
    width:50px;
    border-radius: 50%;

}
.titleimg1{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.titleone{
    text-align:center;
    font-size:1.5rem;
    color:white;
    font-weight:400;
   
}
 .titletwo{
   /*margin-left:-50px;*/
   font-size:1.5rem;
   color:white;
   font-weight:300;
   /*padding-left:20px;*/
}
.titleimg1 .material-icons{
    color:white;
}
.sidebar ul{
   
    height:100%;
    width:100%;
    line-height: 65px;
    color:var(--color-of-icons);
    list-style-type: none;
    box-sizing: border-box;
    padding-left: 0px;
    font-weight: 300;
    font-size:var(--font-of-text);
}
.sidebar ul li{
    display: flex;
    justify-content: space-around;
    align-items: center;
   /* margin-left:-20px;*/
    cursor: pointer;
    
}
 .sidebar li:hover{
    background-color:grey;
}

.sidebar li:nth-child(1){
    background-color:var(--color-background);
}
.sidebar ul .title{
    flex-grow:0.4;
    margin-right:-5px;
}
/*pjesa e ndrshimit te headerit*/
.search-icon{
    width:1.5em;

}
.dropdown-content {
    display: none;
    position: absolute;
    left:-150px;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
   
  }
  .header{
    
      display: flex;
      justify-content: space-between;
      align-items:center;
      margin-top: 10px;
  }
  .icons-nav{
      display: flex;
      gap:15px;
      margin-right:50px;
      align-items: baseline;
  }
  .icon-more{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    gap:15px;
  }
  .icon-more .title{
    font-size:var(--font-of-text);
    color:black;
  }
  .search-bar{
    display: flex;
    align-items: end;
  }
  .more-vert{
    border-radius: 50%;
    border: 1px solid white;
    color: grey;
    background-color: var(--color-of-icons);
    padding: 10px;
    cursor: pointer;
   

}
.more-vert:hover{
    box-shadow: 0px 0px 20px lightgrey;
}
.search-bar-input{
    border:none;
    outline: none;
    background-color: transparent;
    border-bottom:2px solid grey;
     transition-property: border-bottom,transform;
    transition-duration: 0.3s,0.1s;
    transition-timing-function: ease-in;
}
.search-bar-input:focus{
    border:none;
    border-bottom:2px solid violet;
   
   
}
.search-icon{
    border-radius: 50%;
    border: 1px solid white;
    color: grey;
    background-color: var(--color-of-icons);
    padding: 8px;
    cursor: pointer;
}
.search-bar-input::placeholder{
    color:#b6b6b6;
}
.search-icon:hover{
    box-shadow: 0px 0px 20px lightgrey;
}
.dropdown{
    position: relative;
}
.X{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--color-background);
    text-align: center;
    position: absolute;
    top: -4px;
    right: 2px;
    cursor: pointer;
    color: white;
    border: 1px solid white;
  
}

  .dropdown-content a {
    color: black;
    padding:10px 10px;
    text-decoration: none;
    display: block;
    font-size:1rem;
    font-weight:200;
  }
  .dropdown-content a:hover {
    background-color:var(--color-background);
    color:white;
    font-size:1rem;
}

  .dropdown:hover .dropdown-content {
      display: block;
    }
    .menu {
        visibility: hidden;
    }
.header .material-icons{
      
        cursor: pointer;
    }
/*pjesa e ndrshimit te headerit*/

/*.header{
    width:100%;
    background-color: #F3F3F3;
}

.more-vert{
    border-radius: 50%;
    border: 1px solid white;
    color: grey;
    background-color: white;
    padding: 10px 15px;
    margin-left:20px;

}
.more-vert:hover{
    box-shadow: 0px 0px 20px lightgrey;
}
.icon-more .title{
    font-size:1em;
    color:black;
    padding:10px;
}

.icon-more{
    flex-grow: 1;
    margin-top:20px;
    margin-left:10px;
}
.icons-nav{
    display: flex;
    justify-content: flex-end;
    margin-top: -20px;
    margin-right: 30px;
   position: relative;
}

.search-bar{
    width:18em;
     color:rgb(144,144 144);
     margin-top:-20px;
     display: flex;
     justify-content: center;
     align-items: end;
}
.search-icon{
    border-radius: 50%;
    border: 1px solid white;
    color: grey;
    background-color: white;
    padding:10px;
    cursor: pointer;
   
}
.search-icon:hover{
    box-shadow: 0px 0px 20px lightgrey;
}

.search-bar-input{
    border:none;
    outline: none;
    background-color: transparent;
    border-bottom:2px solid grey;
     transition-property: border-bottom,transform;
    transition-duration: 0.3s,0.1s;
    transition-timing-function: ease-in;
}
.search-bar-input:focus{
    border:none;
    border-bottom:2px solid violet;
   
   
}
.search-icon{
    width:1.5em;

}
.search-bar-input img{
   margin-left: -20px;
}
.search-bar-input::placeholder{
    color:#b6b6b6;
}



.header .material-icons{
    padding-right:20px;
    cursor: pointer;
}
.X{
    width: 15px;
    height:15px;
    color:white;
    border-radius: 50%;
    background-color: red;
    text-align: center;
    position: absolute;
    top: -4px;
    right: 20px;
    cursor: pointer;
    border:1px solid white;
  
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    left:-150px;
    background-color: #f1f1f1;

    /*width: 500px;*/

   /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
   font-size:0.8rem;
   font-weight: 300;
   color:black;
  }
  
  .dropdown-content a {
    color: black;

    /*width:60%;*/

   /* padding:10px 10px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: red;
    color:white;
}

  .dropdown:hover .dropdown-content {display: block;}  */


.global-sales{
    /* display: flex; */
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    margin: 50px 50px 0 50px;
    
}
.map{
    width: 100%;
    margin: 10px;
}

.tableofcountry {
    width: 450px;
}

  table{
    border-collapse: collapse;
    
}
table tr:last-child {
    border-bottom: 2px solid transparent !important; 
}


.global-sales-title {
    display: flex; 
    padding-left: 10px;
    gap:10px;
}
.global-sales-title .name{
    font-size: 1.5rem;
    font-weight: 200;
    
}
.global-sales-info {
    display: flex; 
    padding:10px;
}

  table th{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid grey;
    font-size:1.2rem;
    color:grey;
    font-weight: 200;
  }
  
.glob {
    margin-top: -30px;
    width:80px;
    height:80px;
    background-color: green;
    justify-content: center;
    display: flex !important;
    align-items: center;
    text-align: center;
    align-content: center;
    color:var(--color-of-icons);
    border-radius: 5px;
}

.menu {
    visibility: hidden;
}








.contenttwo { 
     display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px 50px;
    grid-auto-flow: row;
    grid-template-areas:
      ". ."
      ". .";
      padding: 50px;
  }
  .productone {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
  }
  .text-product{
    display: flex; 
    justify-content: space-between;
  }
  .text-product p{

    font-size:var(--font-of-text);
    color:grey;
    margin-right: 20px;
   
   
  }
  .text-product .number{
    color:black;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .work{
    margin-top: -30px;
    width:80px;
    height:80px;
    background-color: orange;
    justify-content: center;
    display: flex !important;
    align-items: center;
    text-align: center;
    align-content: center;
    color:var(--color-of-icons);
    border-radius: 5px;
  }
  .warning {
    color:grey;
    display: flex;
    align-items: center;
    font-size:0.8rem;
  }
  .text-product .bar-chart{
    margin-top: -30px;
    width:80px;
    height:80px;
    background-color: #F06292;
    justify-content: center;
    display: flex !important;
    align-items: center;
    text-align: center;
    align-content: center;
    color:var(--color-of-icons);
    border-radius: 5px;
  }
  .text-product .wallet{
    margin-top: -30px;
    width:80px;
    height:80px;
    background-color: green;
    justify-content: center;
    display: flex !important;
    align-items: center;
    text-align: center;
    align-content: center;
    color:var(--color-of-icons);
    border-radius: 5px;
  }
  .text-product .public{
    margin-top: -30px;
    width:80px;
    height:80px;
    background-color: #4FC3F7;
    justify-content: center;
    display: flex !important;
    align-items: center;
    text-align: center;
    align-content: center;
    color:var(--color-of-icons);
    border-radius: 5px;
  }
  .titleofcards{
    padding-left:50px;
    font-size: 1.5em;

  }
.cards{
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap:30px 30px;
    padding:50px;
}
.card{
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
    /*height: 500px;*/
   
    
}
.card .card-img img{
    border-radius: 5px;
    
}
.card-img{
    display: flex;
    justify-content: center;
}
.card-img img{
    width:90%;
   /* padding: 0px 20px;*/
    position: relative;
    top:-20px;
    z-index: 1;
   
    
}

.hover-image:hover .card-one {
    top:-60px;
    transition: 0.3s;
   
}

.card-icons{
    text-align: center;
    position:relative;
    top:-50px;
}
.info{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding:0px 10px;
    position: relative;
    top:-10px;
}
.card-info{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}
.card-icons .close{
    color:var(--color-background);
    font-size: 1em;
}
.card-icons .edit{
    color:green;
    font-size: 1em;
}
.card-icons .tabs{
    color:grey;
    font-size: 1em;
}
.info h1{
    font-size: 1.5rem;
    font-weight: 400;
}
.info p{
    color:grey;
    font-size:var(--font-of-text);
}

footer{
    display: flex;
    justify-content: space-between;
}
footer  ul{
    list-style-type: none;
    display: flex;
}
footer ul li a{
    text-decoration: none;
    padding: 20px;
    color:black;
    font-size: 1em;
    font-weight: bold;
}
.copy-right{
    margin-right:50px;
    font-size: 1em;
    color:black;
}

:root{
    
    --color-background:red;
    --font-of-text:1rem;
    --color-of-icons:white;
    
   

}







@media only screen and (max-width: 768px) {
    .container{
        margin:0;
    }

    .menu {
        visibility: visible;
        float: right;
        margin-right: 50px;
    }
   
    .icons-nav {
        display: none;
    }
    
    .sidebar {
        display: none;
    }
    .global-sales-info {
        display: grid;
        gap:20px;
    }

    .tableofcountry {
        width: 100%;
    }

    .tableofcountry table {
        width: 100%;
    }

    .map {
        width: 98%;
    }
    .contenttwo {
       
        display: grid; 
        grid-template-columns:  1fr 1fr; 
        grid-template-rows: 1fr 1fr ; 
        gap: 20px 20px; 
        grid-template-areas: 
          "."
          "."
          "."
          "."; 
      }
  .cards{
   display: flex;
   flex-direction: column;
    
  }

  
}

@media only screen and (max-width: 425px) { 

    .container {
        width: 100vw;
    }
    .contenttwo {
       
        display: grid; 
        grid-template-columns:  1fr ; 
        grid-template-rows: 1fr 1fr  1fr 1fr; 
        gap: 10px 10px; 
        grid-template-areas: 
          "."
          "."
          "."
          "."; 
      }

      footer ul {
        flex-wrap: wrap;
        font-size: 0.9rem;
      }
}




