body{
    margin:0px;
    
}
section:nth-child(odd){
    width:100vw;
    height:25vh;
    background-color: #808080;
}
section:nth-child(even){
    width:100vw;
    height:25vh;
    background-color: #DCDCDC;

}
    
.dark{
    text-transform: capitalize;
    text-decoration:underline #ffffff ;
    color:#ffffff;
    font-size: 2em;
    margin:0px;
}
.paragraph{
    color:#ffffff;
    font-size:1em;
}
.light{
    text-transform: capitalize;
    text-decoration:underline black ;
    color:black;
    font-size: 2em;
    margin:0px;
}
.paragraphtwo{
    color:black;
    font-size:1em;
}
hr{
    width:33%;
    border:1px solid red;
    margin-top:50px;
   
}